# Config
utils/config.txt

# Upload script
utils/upload.sh

# Application binary and server files
app/codbApplication
serverLog.txt
.codb_pid.txt

# Test data
test/diagnoses.csv
test/merged.csv

# File locks
*.~lock.*
