# Config
utils/config.txt

# Upload script
utils/upload.sh

# Application binary and server files
codbApplication
serverLog.txt
.codb_pid.txt

# Test data
test/diagnoses.csv
test/merged.csv

# NLP Model
scripts/nlpModel/diagnosisModel/*
__pycache__/
diagnoses.csv
typeEncodings.csv

# File locks
*.~lock.*
