# Config
utils/config.txt

# Upload script
utils/upload.sh

# Application binary and server files
codbApplication
serverLog.txt
.codb_pid.txt

# Test data
test/diagnoses.csv
test/merged.csv

# NLP Model
scripts/nlpModel/diagnosisModel/*
scripts/nlpModel/neoplasiaModel/*
scripts/nlpModel/tokenizer.pickle
scripts/nlpModel/__pycache__/
scripts/nlpModel/diagnoses.csv
scripts/nlpModel/typeEncodings.csv

# File locks
*.~lock.*
