{{define "changepassword"}}
{{template "header"}}

{{if .User}}
  <div class="menu"><small>
    <span class="left"><a href="/codb/menu/"><i class="fas fa-home"></i></a></span>
    <span class="tab">Last Updated: {{.Update}}</span>
    <span class="tab">User: {{.User}} | <a href="/codb/changepassword">Change Password</a> | <a href="/codb/logout">Logout</a></span>
  </small></div>
  </div> <!-- menubar -->
</div> <!-- header -->
</section> <!-- titlebar -->
  </br>
<hr>
{{end}}

<section class="content">
  <!--Login -->
  <h1>Change Password</h1>
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
  <form method="POST" action="/codb/newpassword">
    <div>
      <label for="name">New Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <div>
      <label for="password">Confirm New Password:</label>
      <input type="password" id="newpassword" name="newpassword">
    </div>
    <div>
     <button class="btn-primary" type="submit">Submit</button>
     <a href="/codb/menu/">Cancel</a>
    </div>
  </form>
</section>
{{template "footer"}}
{{end}}
