{{define "buttonbox"}}
<div class="btn-box">
  <input class="btn-primary" type="submit" value="Submit"></input>
  <input class="btn-secondary" type="reset" value="Reset Form"></input>
</div>
{{end}}

{{define "homeicon"}}
<span class="left"><a href="/codb/menu/"><i class="fas fa-home"></i></a></span>
{{end}}

{{define "logout"}}
<a href="/codb/changepassword">Change Password</a> | <a href="/codb/logout">Logout</a>
{{end}}

{{define "searchoptions"}}
<div>
  <input type="checkbox" name="Infant">
  <label for="Infant">Include infant records in results (excluded by default).</label>
</div>
<div>
  <input type="checkbox" name="Print">
  <label for="Print">View results in browser (returns file by default).</label>
</div>
{{end}}
