{{define "menu"}}
{{template "header"}}
{{if .User}}
  <div><small>
    <span class="left">Last Updated: {{.Update}}</span>
    <span class="right">User: {{.User}} | <a href="/codb/changepassword">Change Password</a> | <a href="/codb/logout">Logout</a></span>
  </small></div>
  </br>
<hr>
{{end}}
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
<section>
  <h1>What would you like to do?</h1>
  <hr>
  <p><a href="/codb/summary/">Compile basic summary statistics of the database.</a></p>
  <!--Cancer rate expandable-->
  <p><a href="#" onClick="expandCollapse('Cancerrate');">Calculate cancer rates.</a></p>
  <div class="tab" id="Cancerrate" style="display:none">
    <p>Enter the name of table containing target value, the columns containing the value, the operation to perform, and the value to search for. 
See <a href="/static/databaseSchema.pdf" target="_blank">this diagram</a> for column names.</p>
    <form method="POST" action="/codb/cancerRates/">
      <div id="SingleSearch">
        <body onload="newSearch('SingleSearch');"></body>
      </div>
      <hr>
      <div>
        <label for="Min">The minimum number of entries required to examine a species:</label>
        <input type="number" name="Min" min="0" value="50">
      </div>
      <div>
        <input type="checkbox" name="Necropsy">
        <label for="Necropsy">Extract only necropsy records (extracts all matches by default).</label>
      </div>
      <div>
        <input type="checkbox" name="Print">
        <label for="Print">View results in browser (returns file by default).</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <!--Table dump expandable-->
  <p><a href="#" onClick="expandCollapse('Dump');">Extract entire table.</a></p>
  <div class="tab" id="Dump" style="display:none">
	<p>Select a table to extract from the database:</p>
    <form method="POST" action="/codb/extractTable/">
      <select id="Table" name="Table">
        <option name="Table" value="" selected="selected"></option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>
  <p><a href="/codb/search/">Search database.</a></p>
  <!--
  <hr>
  <p>The following require admin privileges:</p>
  <p><a href="/codb/upload/">Upload data to the database.</a></p>
  <p><a href="/codb/update/">Update records in the database.</a></p>
  <p><a href="/codb/delete/">Delete records from the database.</a></p>
  -->
</section>
{{template "footer"}}
{{end}}
