{{define "menu"}}
{{template "header"}}
<script type=text/javascript src="/static/addFields.js"></script>
{{if .User}}
  <div><small>
    <span class="left">Last Updated: {{.Update}}</span>
    <span class="right">User: {{.User}} | <a href="/codb/changepassword">Change Password</a> | <a href="/codb/logout">Logout</a></span>
  </small></div>
  </br>
<hr>
{{end}}
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
<section>
  <hr>
  <h1>What would you like to do?</h1>
  <hr>
  <p><a href="/codb/summary/">Compile basic summary statistics of the database.</a></p>
  <!--Cancer rate expandable-->
  <p><a href="#" class="Cancerrate">Calculate cancer rates.</a></p>
  <form method="POST" action="/codb/results/">
    <div id="Cancerrate" style="display:none" onClick="expandCollapse('Cancerrate');">
      <div id="SearchBlock">
        <body onload="newSearch('SearchBlock');"></body>
      </div>
      <div>
        <label for="Min">The minimum number of entries required to examine a species:</label>
        <input type="number" name="Min" min="0" value="50">
      </div>
      <div>
        <input type="checkbox" name="Necropsy">
        <label for="Necropsy">Extract only necropsy records (extracts all matches by default).</label>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
  <!--Table dump expandable-->
  <p><a href="#" class="Cancerrate">Extract entire table.</a></p>
  <form method="POST" action="/codb/results/">
    <div id="Dump" style="display:none" onClick="expandCollapse('Dump');">
      <select id="Table" name="Table">
        <option name="Table" value="" selected="selected"></option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>
  <p><a href="/codb/search/">Search database.</a></p>
  <!--
  <p><a href="/codb/upload/">Upload data to the database (requires admin privileges).</a></p>
  <p><a href="/codb/update/">Update records in the database (requires admin privileges).</a></p>
  <p><a href="/codb/delete/">Delete records from the database (requires admin privileges).</a></p>
  -->
</section>
{{template "footer"}}
{{end}}
