{{define "menu"}}
{{template "header"}}

{{if .User}}
  <div class="menu"><small>
    {{template "homeicon"}}
    <span class="center">Last Updated: {{.Update}}</span>
    <span class="right rightmargin">User: {{.User}} | {{template "logout"}}</span>
  </small></div>
  </div> <!-- menubar -->
</div> <!-- header -->
</section> <!-- titlebar -->
  </br>
<hr>
{{end}}

<section class="content">
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
  <h1 id="subheader">What would you like to do?</h1>
  <hr>
  <p><a href="/codb/summary/">Compile basic summary statistics of the database</a></p>
  <p><a href="/codb/referencetaxonomy/">Extract merged common name and taxonomy tables</a></p>
  <!--Table dump expandable-->
  <p class="blanklink" id="extract">Extract entire table</p>
  <div class="tab hide" id="Dump">
    <form method="POST" action="/codb/extractTable/">
      <div>
	    <label for="Table">Select a table to extract from the database:</label>
        <select id="Table" name="Table">
          <option name="Table" value="" selected="selected"></option>
        </select>
      </div>
      {{template "buttonbox"}}
    </form>
  </div>
  <!--Life history completeness expandable-->
  <p class="blanklink" id="lhsummary">Summarize Life History Table</p>
  <div class="tab hide" id="LifeHistoryDiv">
    <form method="POST" action="/codb/lifehistory/">
      <div>
        <input id="AllTaxa" type="checkbox" name="AllTaxa">
	    <label for="AllTaxa">Include species without patient records in the summary.</label>
      </div>
      {{template "buttonbox"}}
    </form>
  </div>
  <p class="blanklink" id="searchselect">Search database or calculate cancer prevalence</p>
  {{template "search"}}
</section>
{{template "footer"}}
{{end}}
