{{define "cancerrate"}}
<div id="Rates" class="hide">
  <h2>Calculate neoplasia prevalence</h2>
  <p>An explanation of the results file can be found <a href="/codb/tutorial/" target="_blank">here</a>.</p>
  <form method="POST" action="/codb/prevalence/">
    <label for="Taxa">Taxonomic level to subset neoplasia prevalence by:</label>
	<div>
      <select id="Taxa" name="Taxa">
        <option name="Taxa" value=""></option>
        <option name="Taxa" value="taxa_id">taxa_id</option>
        <option name="Taxa" value="Kingdom">Kingdom</option>
        <option name="Taxa" value="Phylum">Phylum</option>
        <option name="Taxa" value="Class">Class</option>
        <option name="Taxa" value="Orders">Orders</option>
        <option name="Taxa" value="Family">Family</option>
        <option name="Taxa" value="Genus">Genus</option>
        <option name="Taxa" value="Species">Species</option>
        <option name="Taxa" value="Source">Source</option>
      </select>
      <select id="Operator" name="Operation">
        <option name="Operator" value="=" selected="selected">=</option>
        <option name="Operator" value="!=">!=</option>
      </select>
      <input type="text" id="Value" name="Value"></input>
    </div>
	<div>
      <label for="Location">Summarize neoplasia prevalence by location:</label>
      <select id="Location" name="Location">
        <option name="Location" value="" selected="selected"></option>
      </select>
	</div>
    <div>
      <label for="Min">The minimum number of entries required to examine a species:</label>
      <input type="number" name="Min" min="0" value="1">
    </div>
    <div>
      <input type="checkbox" name="Lifehistory">
      <label for="Lifehistory">Append life history information to results.</label>
    </div>
    <div>
      <input type="checkbox" name="Approved">
      <label for="Approved">Calculate neoplasia prevalence using only records from approved zoos.</label>
    </div>
    <p></p>
    <div>
      <input type="radio" name="Necropsy" value="all" checked="checked">
      <label for="Necropsy">Extract necropsy and non-necropsy records.</label>
    </div>
    <div>
      <input type="radio" name="Necropsy" value="necropsyonly">
      <label for="Necropsy">Extract only necropsy records.</label>
    </div>
    <div>
      <input type="radio" name="Necropsy" value="nonnecropsy">
      <label for="Nonnecropsy">Extract only records which were not necropsied.</label>
    </div>
    <p></p>
    {{template "searchoptions"}}
    {{template "buttonbox"}}
  </form>
</div>
{{end}}


{{define "search"}}
<div id="Search" class="hide">
  <h2>Search Database</h2>
  <form method="POST" action="/codb/results/">
    <p>Enter the name of table containing target value, the columns containing the value, the operation to perform, and the value to search for. 
See <a href="/static/databaseSchema.pdf" target="_blank">this diagram</a> for column names.</p>
    <div id="SearchBlock"></div>
    <div id="addSearch">
      <input id="addsearch" type="button" value="Add new search">
    </div>
    <p>Note: Additional search parameters are cumulative and all fields will be applied together. 
New searches, on the other hand, are completely independent of one another (These will not be applied to cancer prevalence calculations).</p>
    <hr>
	{{template "searchoptions"}}
    {{template "buttonbox"}}
  </form>
</div>
{{end}}
