{{define "search"}}

<div id="Search" class="hide">
  <h2>Search Database</h2>
  <form method="POST" action="/codb/results/">
    <p>Enter the name of table containing target value, the columns containing the value, the operation to perform, and the value to search for. 
See <a href="/static/databaseSchema.pdf" target="_blank">this diagram</a> for column names.</p>
    <div id="SearchBlock"></div>
    <div id="addSearch">
      <input id="addsearch" type="button" value="Add new search">
    </div>
    <p>Note: Additional search parameters are cumulative and all fields will be applied together. 
New searches, on the other hand, are completely independent of one another (These will not be applied to cancer rate calculations).</p>
    <hr>
    <div>
      <input id="canceratebox" type="checkbox" name="Cancerrate">
      <label for="Cancerrate">Calculate cancer rates.</label>
    </div>
    <div id="Rates" class="hide tab">
      <div>
        <label for="Min">The minimum number of entries required to examine a species or tumor type:</label>
        <input type="number" name="Min" min="0" value="1">
      </div>
      <div>
        <input type="checkbox" name="Lifehistory">
        <label for="Lifehistory">Append life history information to results (for species only).</label>
      </div>
      <p>Select value to summarize cancer rates by:</p>
      <div class="tab">
          <input type="radio" name="Key" value="species" checked="checked"> Species</input><br>
          <input type="radio" name="Key" value="location"> Location</input><br>
          <input type="radio" name="Key" value="type"> Tumor Type</input><br>
      </div>
	</div>
    <div>
      <input type="checkbox" name="Necropsy">
      <label for="Necropsy">Extract only necropsy records (extracts all matches by default).</label>
    </div>
    <div>
      <input type="checkbox" name="Infant">
      <label for="Infant">Include infant records in results (excluded by default).</label>
    </div>
    <div>
      <input type="checkbox" name="Print">
      <label for="Print">View results in browser (returns file by default).</label>
    </div>
    {{template "buttonbox"}}
  </form>
</div>
{{end}}
