{{define "search"}}
{{template "header"}}

{{if .User}}
  <div class="menu"><small>
    {{template "homeicon"}}
    <span class="center">Last Updated: {{.Update}}</span>
    <span class="right rightmargin">User: {{.User}} | {{template "logout"}}</span>
  </small></div>
  </div> <!-- menubar -->
</div> <!-- header -->
</section> <!-- titlebar -->
  </br>
<hr>
{{end}}

<section class="content">
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
  <h1>Search Database</h1>
  <form method="POST" action="/codb/results/">
    <p>Enter the name of table containing target value, the columns containing the value, the operation to perform, and the value to search for. 
See <a href="/static/databaseSchema.pdf" target="_blank">this diagram</a> for column names.</p>
    <div id="SearchBlock">
      <body onload="newSearch('SearchBlock');"></body>
    </div>
    <div id="addSearch">
      <input type="button" value="Add new search" onClick="newSearch('SearchBlock');">
    </div>
    <p>Note: Additional search parameters are cumulative and all fields will be applied together. 
New searches, on the other hand, are completely independent of one another.</p>
    <hr>
    <div>
      <input type="checkbox" name="Necropsy">
      <label for="Necropsy">Extract only necropsy records (extracts all matches by default).</label>
    </div>
    <div>
      <input type="checkbox" name="Infant">
      <label for="Infant">Include infant records in results (excluded by default).</label>
    </div>
    <div>
      <input type="checkbox" name="Print">
      <label for="Print">View results in browser (returns file by default).</label>
    </div>
    <div>
      <input type="checkbox" name="Count">
      <label for="Count">Return count of target records instead of printing entire records.</label>
    </div>
    {{template "buttonbox"}}
  </form>
  <br/><p><a href="/codb/menu/">Return to menu</a></p>
</section>
{{template "footer"}}
{{end}}
