{{define "tutorial"}}
{{template "header"}}

{{if .User}}
  <div class="menu"><small>
    {{template "homeicon"}}
    <span class="center">Last Updated: {{.Update}}</span>
    <span class="right rightmargin">User: {{.User}} | {{template "logout"}}</span>
  </small></div>
  </div> <!-- menubar -->
</div> <!-- header -->
</section> <!-- titlebar -->
  </br>
<hr>
{{end}}

<section class="content">

<div name="services">
  <h1 id="subheader">Service Names</h1>
  <hr>
  <table>
    <tr><th>Service Code</th><th>Service Name</th><th>Has Denominators</th></tr>
    <tr><td>DLC</td><td>Duke Lemur Center</td><td>Yes</td></tr>
    <tr><td>LZ</td><td>London Zoo</td><td>Yes</td></tr>
    <tr><td>MSU</td><td>Michigan State University</td><td>No</td></tr>
    <tr><td>NWZP</td><td>Northwest ZooPath</td><td>Yes</td></tr>
    <tr><td>SDZ</td><td>San Diego Zoo</td><td>Yes</td></tr>
    <tr><td>SNZ</td><td>Smithsonian National Zoo</td><td>No</td></tr>
    <tr><td>WZ</td><td>Whipsnade Zoo</td><td>No</td></tr>
    <tr><td>ZEPS</td><td>Zoo/Exotic Pathology Service (Drury)</td><td>Yes (necropsy status unknown)</td></tr>
  </table>
</div>

<div name="neoplasiaPrevalence">
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
  <h1 id="subheader">Neoplasia Prevalence Results Explained</h1>
  <hr>
  <table>
    <tr><th>Column Name</th><th>Explanation</th></tr>
    <tr><td>Location</td><td>User specified tissue. "all" includes all tissues for that species. Only included if a specific location or tissue is examined.</td></tr>
    <tr><td>RecordsWithDenominators</td><td>Total number of records for that species (and optionally species records for the given tissue) excluding records from databases which do not include non-neoplasia records. This will vary if the necropsy or infant records options are checked.</td></tr>
    <tr><td>NeoplasiaWithDenominators</td><td>Total number of neoplasia records for that species (and optionally species records for the given tissue) excluding records from databases which do not include non-neoplasia records. This will vary if the necropsy or infant records options are checked.</td></tr>
    <tr><td>NeoplasiaPrevalence</td><td>NeoplasiaWithDenominators divded by RecordsWithDenominators (tissue level results are divided by RecordsWithDenominators for all tissues).</td></tr>
    <tr><td>MalignancyKnown</td><td>Total number of records for a malignant or benign determination could be made.</td></tr>
    <tr><td>Malignant</td><td>Total number of malignant records from databases which include non-neoplasia records.</td></tr>
    <tr><td>MalignancyPrevalence</td><td>Malignant divided by RecordsWithDenominators (tissue level results are divided by the species level total).</td></tr>
    <tr><td>PropMalignant</td><td>All malignant records (regardless of source database) divided by MalignancyKnown.</td></tr>
    <tr><td>Benign</td><td>Total number of benign records from databases which include non-neoplasia records.</td></tr>
    <tr><td>BenignPrevalence</td><td>Benign divided by RecordsWithDenominators (tissue level results are divided by the species level total).</td></tr>
    <tr><td>PropBenign</td><td>All benign records (regardless of source database) divided by MalignancyKnown.</td></tr>
    <tr><td>AverageAge(months)</td><td>Average age for all records from databases which include non-neoplasia records.</td></tr>
    <tr><td>AvgAgeNeoplasia(months)</td><td>Average age for neoplasia records from databases which include non-neoplasia records.</td></tr>
    <tr><td>Male</td><td>Number of male records from databases which include non-neoplasia records.</td></tr>
    <tr><td>Female</td><td>Number of female records from databases which include non-neoplasia records.</td></tr>
    <tr><td>MaleNeoplasia</td><td>Number of male neoplasia records from databases which include non-neoplasia records.</td></tr>
    <tr><td>FemaleNeoplasia</td><td>Number of female neoplasia records from databases which include non-neoplasia records.</td></tr>
    <tr><td>RecordsFromAllSources</td><td>Total number of records for that species (and optionally species records for the given tissue). This will vary if the necropsy or infant records options are checked.</td></tr>
    <tr><td>NeoplasiaFromAllSources</td><td>Total number of neoplasia records for that species (and optionally species records for the given tissue). This will vary if the necropsy or infant records options are checked.</td></tr>
    <tr><td>Necropsies</td><td>Number of necrpsied records from databases which include non-neoplasia records.</td></tr>
    <tr><td>#Sources</td><td>Number of unique sources from all databases for that species.</td></tr>
    <tr><td>NoTissueInfo</td><td>Number of neoplasia records without tumor location information.</td></tr>
  </table>
</div>
</section>
{{template "footer"}}
{{end}}
