{{define "tutorial"}}
{{template "header"}}

{{if .User}}
  <div class="menu"><small>
    {{template "homeicon"}}
    <span class="center">Last Updated: {{.Update}}</span>
    <span class="right rightmargin">User: {{.User}} | {{template "logout"}}</span>
  </small></div>
  </div> <!-- menubar -->
</div> <!-- header -->
</section> <!-- titlebar -->
  </br>
<hr>
{{end}}

<section class="content">
  {{if .Flash}}
    <div class="flash">{{.Flash}}</div>
  {{end}}
  <h1 id="subheader">Neoplasia Prevalence Results Explained</h1>
  <hr>
  <table>
    <tr><th>Column Name</th><th>Explanation</th></tr>
    <tr><td>Location</td><td>User specified tissue . "all" includes all tissues for that species.</td></tr>
    <tr><td>TotalRecords</td><td>Total number of records for that species (and optionally species records for the given tissue). This will vary if the necropsy or infant records options are checked.</td></tr>
    <tr><td>RecordsWithDenominators</td><td>Same as above but excludes records from databases which do not include non-neoplasia records.</td></tr>
    <tr><td>TotalNeoplasia</td><td>Total number of neoplasia records for that species (and optionally species records for the given tissue). This will vary if the necropsy or infant records options are checked.</td></tr>
    <tr><td>NeoplasiaWithDenominators</td><td>Same as above but excludes records from databases which do not include non-neoplasia records.</td></tr>
    <tr><td>NeoplasiaPrevalence</td><td>NeoplasiaWithDenominators divded by RecordsWithDenominators.</td></tr>
    <tr><td>MalignancyKnown</td><td>Total number of records for a malignant or benign determination could be made.</td></tr>
    <tr><td>Malignant</td><td>Total number of malignant records from databases which include non-neoplasia records.</td></tr>
    <tr><td>MalignancyPrevalence</td><td>Malignant divided by RecordsWithDenominators (tissue level results are divided by the species level total).</td></tr>
    <tr><td>PropMalignant</td><td>All malignant records (regardless of source database) divided by MalignancyKnown.</td></tr>
    <tr><td>Benign</td><td>Total number of benign records from databases which include non-neoplasia records.</td></tr>
    <tr><td>BenignPrevalence</td><td>Benign divided by RecordsWithDenominators (tissue level results are divided by the species level total).</td></tr>
    <tr><td>PropBenign</td><td>All benign records (regardless of source database) divided by MalignancyKnown.</td></tr>
    <tr><td>AverageAge(months)</td><td>Average age for all records from databases which include non-neoplasia records.</td></tr>
    <tr><td>AvgAgeNeoplasia(months)</td><td>Average age for neoplasia records from databases which include non-neoplasia records.</td></tr>
    <tr><td>Male</td><td>Number of male records from databases which include non-neoplasia records.</td></tr>
    <tr><td>Female</td><td>Number of female records from databases which include non-neoplasia records.</td></tr>
    <tr><td>MaleNeoplasia</td><td>Number of male neoplasia records from databases which include non-neoplasia records.</td></tr>
    <tr><td>FemaleNeoplasia</td><td>Number of female neoplasia records from databases which include non-neoplasia records.</td></tr>
    <tr><td>Necropsies</td><td>Number of necrpsied records from databases which include non-neoplasia records.</td></tr>
    <tr><td>#Sources</td><td>Number of unique sources from all databases for that species.</td></tr>
  </table>
</section>
{{template "footer"}}
{{end}}
