<!doctype html>
<title>{% block title %}{% endblock %} - Comparative Oncology Database</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <!--Introduction -->
  <hr>
  {% block content %}{% endblock %}
</section>
<footer>
  <p>
    <img src="{{ url_for('static', filename='biodesign.png') }}" width="30%" align="right">
    <small>&copy; Copyright 2019, Maley Lab</small><br/>
    <small>Biodesign Center for Biocomputing, Security, and Society</small><br/>
    <small>Arizona Cancer and Evolution Center</small><br/>
    <small>Arizona State University</small>
  </p>
</footer>
