{{define "login"}}
{{template "header"}}
<section>
  <!--Login -->
  <h1>Login</h1>
  {{if eq .Flash ""}}
  <div class="flash">{{.Flash}}</div>
  {{end}}
  <form method="post" action="/codb">
    <div>
      <label for="name">User Name:</label>
      <input type="text" id="name" name="name">
     </div>
     <div>
       <label for="password">Password:</label>
       <input type="password" id="password" name="password">
     </div>
     <div>
      <button type="submit">Login</button>
     </div>
  </form>
</section>
{{template "footer"}}
{{end}}
