<!doctype html>
<html lang="en">
<title>Comparative Oncology Database</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<section class="content">
  <header>
    Comparative Oncology Database
  </header>
  <!--Login -->
  <h1>Login</h1>
  {{if eq .Flash ""}}
  <div class="flash">{{.Flash}}</div>
  {{end}}
  <form method="post" action="/codb">
    <div>
      <label for="name">User Name:</label>
      <input type="text" id="name" name="name">
     </div>
     <div>
       <label for="password">Password:</label>
       <input type="password" id="password" name="password">
     </div>
     <div>
      <button type="submit">Login</button>
     </div>
  </form>
</section>
<footer>
  <p>
    <img src="/static/biodesign.png" alt="Error loading image." width="30%" align="right">
    <small>&copy; Copyright 2019, Maley Lab</small><br/>
    <small>Biodesign Center for Biocomputing, Security, and Society</small><br/>
    <small>Arizona Cancer and Evolution Center</small><br/>
    <small>Arizona State University</small><br/>
    <small>maleylabcancer@asu.edu</small>
  </p>
</footer>
</html>

