{{define "search"}}
{{template "header"}}
<script type=text/javascript src="/static/addFields.js"></script>
{{if .User}}
  <div class="username" align="right">
    <small>User: {{.User}} | <a href="/codb/logout">Logout</a></small>
  </div>
<hr>
{{end}}
<section>
  <h1>Search Database</h1>
  <form method="POST" action="/codb/search">
    <p>Enter the name of column containing target value (table is automatically determined), the operation to perform, and the value to search for:
    <div id="searchField">
      <input type="text" id="Column" name="Column">
      <select id="Operator" name="Operator">
        <option name="Operator" value="=" selected="selected">=</option>
        <option name="Operator" value=">=">>=</option>
        <option name="Operator" value="<="><=</option>
        <option name="Operator" value=">">></option>
        <option name="Operator" value="<"><</option>
      </select>
      <input type="text" id="Value" name="Value">
    </div>
    <input type="button" value="Add search field" onClick="addField('searchField');">
    <hr>
    <div>
      <input type="checkbox" name="Taxon">
      <label for="Taxon">Search specifically for taxonomic matches (enter the taxonomic level in the field and the taxon in the value field).</label>
    </div>
    <div>
      <input type="checkbox" name="Common">
      <label for="Common">Indicates that common species name was given for taxa.</label>
    </div>
    <hr>
    <div>
      <label for="Table">Perform operations on this table only:</label>
      <input type="text" id="Table" name="Table">
    </div>
    <div>
      <input type="checkbox" name="Dump">
      <label for="Dump">Extract entire target table.</label>
    </div>
    <hr>
    <div>
      <input type="checkbox" name="Summary">
      <label for="Summary">Compile basic summary statistics of the database.</label>
    </div>
    <div>
      <input type="checkbox" name="Cancerrate">
      <label for="Cancerrate">Calculate cancer rates for species with greater than min entries.</label>
    </div>
    <div>
      <label for="Min">The minimum number of entries required to examine a species:</label>
      <input type="number" name="Min" min="0" value="50">
    </div>
    <div>
      <input type="checkbox" name="Necropsy">
      <label for="Necropsy">Extract only necropsy records (extracts all matches by default).</label>
    </div>
    <div>
      <input type="checkbox" name="Count">
      <label for="Count">Return count of target records instead of printing entire records.</label>
    </div>
    <div>
      <input type="checkbox" name="Infant">
      <label for="Infant">Include infant records in results (excluded by default).</label>
    </div>
    <button type="submit">Submit</button>
  </form>
</section>
{{template "footer"}}
{{end}}
